anndata
contourpy
cycler
fonttools
h5py
joblib
kiwisolver
llvmlite
matplotlib
natsort
networkx
numba
numpy
packaging
pandas
patsy
Pillow
pynndescent
pyparsing
python-dateutil
pytz
scanpy
scikit-learn
scipy
seaborn
session-info
six
statsmodels
stdlib-list
threadpoolctl
tqdm
umap-learn
